/*Шапка сайта */

/* Основной контейнер шапки */
.header {
  width: 100%;
  max-width: 1100px;
  padding: 0 50px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-content: center;
  align-items: center;
}

/* Навигация в шапке */
.header-nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: circle;
  gap: 30px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}

.header-nav-link {
  text-decoration: underline;
}

.header-nav-list li:first-child {
  list-style: none;
}

.header-nav-link.link-nav-active {
  text-decoration: none;
}

/* Логотип в шапке */
.header-logo {
  margin: 90px 0;
  width: 148px;
  height: 105px;
}

/* Контактная информация */
.contacts-info {
  max-width: 240px;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  justify-self: end;
  line-height: 23px;
}

.contacts-info a {
  padding-bottom: 2px;
}

/* Секция обложки */
.cover {
  max-width: 1100px;
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url("../images/theme/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Raleway", sans-serif;
  position: relative;
}

/* Общий оверлей для всех секций */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover-title-container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 110px 0 0;
  z-index: 2;
}

.cover-title {
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30px;
  line-height: 135px;
  text-transform: uppercase;
  color: #fff;
}

.cover-title-word {
  display: block;
  color: #fff;
}

.cover-title-word--center {
  text-align: center;
  padding: 0 0 0 30px;
}

.cover-title-word--right {
  text-align: right;
  margin-right: -30px;
}

.cover-bottom {
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 98px;
  z-index: 2;
}

.cover-description {
  width: 637px;
  font-size: 22px;
  font-weight: 400;
  word-spacing: 18px;
  text-transform: uppercase;
  color: #fff;
  white-space: nowrap;
}

.cover-button {
  width: 256px;
  height: 51px;
  padding: 0;
  border: 1px solid #fff;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

/* Секция лотов */
.lots {
  width: 100%;
  max-width: 1100px;
  padding: 180px 24px 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.lots-title {
  margin: 0 40px;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  text-transform: uppercase;
  color: #000;
}

.lots-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.lots-card-item {
  width: 334px;
  min-height: 596px;
}

.lots-card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.lots-card {
  width: 100%;
  height: 100%;
  padding: 40px 40px 48px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.lots-card--film {
  background-image: url("../images/content/card-lot-01.jpg");
}

.lots-card--book {
  background-image: url("../images/content/card-lot-02.jpg");
}

.lots-card--painting {
  background-image: url("../images/content/card-lot-03.jpg");
}

.lots-card-title {
  margin: 8px 0 0 0;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  color: #fff;
  position: relative;
  z-index: 2;
}

.lots-card-description {
  margin: auto 0 0 0;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  position: relative;
  z-index: 2;
}

.lots-more-link {
  display: block;
  width: 192px;
  margin: 0;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-decoration: underline;
  text-decoration-style: solid;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
  color: #000;
  position: relative;
  top: 3px;
  left: 40px;
}

.lots-more-link:hover {
  color: #007bff;
  text-decoration: none;
}

/* Секция "Об аукционе" */
.about {
  width: 100%;
  max-width: 1100px;
  padding: 30px 24px 180px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.about-content {
  width: 100%;
  height: 100%;
  display: grid;
  column-gap: 70px;
}

.about-logo {
  grid-column: 1;
  width: 240px;
  height: 240px;
  margin: 30px 0 0 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  border-radius: 50%;
}

.about-logo-image {
  width: 148px;
  height: 114px;
}

.about-title {
  grid-column: 2;
  margin: 133px 0 0 0;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  color: #000;
}

.about-text {
  grid-column: 2;
  margin: 5px 3px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}

.about-paragraph {
  margin: 0;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
}

/* Футер */
.footer {
  width: 100%;
  max-width: 1100px;
  min-height: 180px;
  padding: 0 50px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
}

.contacts-info-footer {
  grid-column: 1;
  width: 290px;
  line-height: 23px;
  justify-self: start;
}

.footer-nav {
  grid-column: 2;
  justify-self: center;
}

.footer-nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  list-style: none;
}

.footer-nav-link {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline;
}

.footer-nav-link--active {
  text-decoration: none;
}

.footer-socials {
  grid-column: 3;
  justify-self: end;
}

.socials-list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 48px;
  list-style: none;
}

.socials-link {
  border-bottom: none;
}

.socials-icon {
  width: 48px;
  height: 48px;
}
